:root {
    --branding-color: #F9F7FE;
    --primary-color: #6C63FF;
    --secondary-color: #272142;
    --default-font-family: "Poppins", sans-serif;
    --heading-font-family: "Playfair Display", serif;
}

h1,
h2 {
font-family: var(--heading-font-family);
font-weight: bold;
color: black;
}

p {
font-family: var(--default-font-family);
color: var(--secondary-color);
line-height: 30px;
}

h1 {
    font-size: 96px;
}

h2,
.about-h1,
.work-h1 {
    font-size: 64px;
}

.about-h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
    color: var(--secondary-color);
}

.home-hero {
    display: block;
    background-color: var(--branding-color);
    text-align: center;
    padding: 200px;
}

.about-hero,
.work-hero {
    padding: 170px;
}

.r1-c1 {
    margin: 30px;
}

.p1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.p2 {
    font-size: 24px;
}

.p3 {
    font-size: 18px;
    margin: 130px 48px 70px 48px;
}

.p4,
.p5,
.p6,
.about-p {
    font-size: 16px;
    opacity: 70%;
}

.img-pp {
    border-radius: 20px;
}

.btn-branding {
    background-color: var(--primary-color);
    padding: 18px 35px;
    border-radius: 4px;
    line-height: 27px;
    color: white;
    font-weight: 500;
}

.learn-more-btns {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 18px 35px;
    border-radius: 4px;
    line-height: 27px;
    font-weight: 500;
}

.p {
    padding: 120px 60px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 1.4;
    }

    h2,
    .about-h1,
    .work-h1 {
        font-size: 36px;
    }

    .p1 {
        font-size: 24px;
    }

    .p3 {
        margin: 100px 40px 50px 40px;
    }

    .p2,
    .p3,
    .about-h2 {
        font-size: 15px;
    }

    .container,
    .work-h1 {
        text-align: center;
    }

    .p {
        padding: 0;
    }

    .home-hero {
        padding: 100px;
    }

    .about-hero,
    .work-hero {
        padding: 0;
        margin: 30px;
    }

    .r1-c1 {
    margin: 30px 0px;
}

.work-hero {
    padding-top: 50px;
}

.pic-1,
.pic-3,
.pic-4 {
    margin-bottom: 50px;
}
    
}